@{
    ViewBag.Title = "Actions";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div ng-controller="TeamMemberCtrl" ng-cloak>

    <div class="breadcrumbs" id="breadcrumbs">


        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Admin/">Home</a>
            </li>
            <li class="active">Profile</li>
        </ul>
    </div>
    <div class="page-content">
        <div notifications="top right"></div>
        <div class="page-header">
            <h1>
                Actions
            </h1>
        </div>
        <fieldset>
            <div class="container">
                <div id="accordion" class="accordion-style1 panel-group col-sm-9">

                    @*<div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Request remote work
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                            <div class="panel-body">
                                Req
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Request an exception
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                            <div class="panel-body">
                                TRddd
                            </div>
                        </div>
                    </div>*@

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="bigger-110 icon-check" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Check-in
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
                            <div class="panel-body"><!--Panel body-->
                                
                            <div class="col-xs-12 col-sm-4 widget-container-span ui-sortable">
                                    <div class="widget-box">

                                        <div class="widget-header">
                                            <h5 class="smaller">Automatic CheckIn</h5>
                                            <div class="widget-toolbar">
                                                <span class="label label-default">
                                                    <i class="icon-check bigger-140"></i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main padding-6">
                                                <br />
                                                <button id="btnCheckIn" class="btn btn-success" ng-click="checkIn()">
                                                    <i class="icon-check bigger-230"></i>
                                                    Automatic CheckIn
                                                </button>
                                                <br /><br /><p></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-4 widget-container-span ui-sortable">
                                    <div class="widget-box">

                                        <div class="widget-header">
                                            <h5 class="smaller">Manual CheckIn</h5>
                                            <div class="widget-toolbar">
                                                <span class="label label-default">
                                                    <i class="icon-check bigger-140"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <form ng-submit="checkInM()">
                                            <div class="widget-body">
                                                <div class="widget-main padding-6">
                                                    <p>
                                                        <div class="input-group bootstrap-timepicker">
                                                            <span class="input-group-addon">
                                                                <i class="icon-time bigger-110"></i>
                                                            </span>
                                                            <input id="timepickerCheckIn" type="text" class="form-control" required="" ng-model="checkInTime" />
                                                        </div>
                                                    </p>
                                                    <p>
                                                        <button id="btnCheckInM" class="btn btn-success btn-mini">
                                                            <i class="icon-unchecked bigger-125"></i>
                                                            CheckIn
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            
                                <div id="warning-dialog" class="hide">
                                    <p>
                                        Type aditional info
                                    </p>
                                    <div class="hr hr-12 hr-double"></div>
                                    <p>
                                        Please add a comment.
                                    </p>
                                    <div>
                                        <textarea cols="25" rows="10" ng-model="checkIncomment"></textarea>
                                    </div>
                                </div>

                            </div><!--/Panel Body-->
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="bigger-110 icon-unchecked" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Check-Out
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse in" id="collapseFour" style="height: 0px;">
                            <div class="panel-body">

                                <div class="col-xs-12 col-sm-4 widget-container-span ui-sortable">
                                    <div class="widget-box">

                                        <div class="widget-header">
                                            <h5 class="smaller">Automatic CheckOut</h5>
                                            <div class="widget-toolbar">
                                                <span class="label label-default">
                                                    <i class="icon-unchecked bigger-140"></i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="widget-body">
                                            <div class="widget-main padding-6">
                                                <br/>
                                                <button id="btnCheckOut" class="btn btn-primary btn-large" ng-click="checkOut()">
                                                    <i class="icon-unchecked bigger-230"></i>
                                                    Automatic CheckOut
                                                </button>
                                                <br /><br/><p></p>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-4 widget-container-span ui-sortable">
                                    <div class="widget-box">

                                        <div class="widget-header">
                                            <h5 class="smaller">Manual CheckOut</h5>
                                            <div class="widget-toolbar">
                                                <span class="label label-default">
                                                    <i class="icon-unchecked bigger-140"></i>
                                                </span>
                                            </div>
                                        </div>
                                        <form ng-submit="checkOutM()">
                                            <div class="widget-body">
                                                <div class="widget-main padding-6">
                                                    <p>
                                                        <div class="input-group bootstrap-timepicker">
                                                            <span class="input-group-addon">
                                                                <i class="icon-time bigger-110"></i>
                                                            </span>
                                                            <input id="timepickerCheckOut" type="text" class="form-control" ng-model="checkOutTime" required />
                                                        </div>
                                                    </p>
                                                    <p>
                                                        <button id="btnCheckOutM" class="btn btn-primary btn-mini ">
                                                            <i class="icon-unchecked bigger-125"></i>
                                                            CheckOut
                                                        </button>
                                                    </p>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row align-center" ng-show="loading">
                <br /><br />
                <img src="~/Content/images/loader.png" />
            </div>
        </fieldset>
    </div>
</div>
