
@{
    ViewBag.Title = "Actions";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div ng-controller="TeamMemberCtrl" ng-cloak>
   
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed'); } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Admin/">Home</a>
            </li>
            <li class="active">Profile</li>
        </ul>
    </div>
    <div class="page-content">
        <div notifications="top right"></div>
        <div class="page-header">
            <h1>
                Actions
            </h1>
        </div>
        <fieldset>
            <div class="container">
                <div id="accordion" class="accordion-style1 panel-group col-sm-9">

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Request remote work
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                            <div class="panel-body">
                                Req
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <i class="bigger-110 ace-icon fa fa-angle-right" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Request an exception
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                            <div class="panel-body">
                                TRddd
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                    <i class="bigger-110 icon-check" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Check-in
                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
                            <div class="panel-body">
                                <div class="input-group col-sm-3">
                                    <button id="btnCheckIn" class="btn btn-success" ng-click="checkIn()">
                                        <i class="icon-check bigger-230"></i>
                                        Automatic CheckIn
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    <i class="bigger-110 icon-unchecked" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
                                    &nbsp;Check-Out
                                </a>
                            </h4>
                        </div>
                        
                        <div class="panel-collapse collapse in" id="collapseFour" style="height: 0px;">
                            <div class="panel-body">
                                <div class="input-group col-sm-3">
                                    <button id="btnCheckOut" class="btn btn-primary btn-large" ng-click="checkOut()">
                                        <i class="icon-unchecked bigger-230"></i>
                                        Automatic CheckOut
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" ng-show="loading">
                <img src="~/Content/images/loader.png" />
            </div>
        </fieldset>
    </div>
</div>



