@{
    ViewBag.Title = "Module Name";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div ng-controller="TeamMemberCtrl" ng-cloak>
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed'); } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Admin/">Home</a>
            </li>
            <li class="active">Team members</li>
        </ul>
    </div>
    <div class="page-content">
        <div notifications="top right"></div>
        <div class="page-header">
            <h1>
                Team members
            </h1>
        </div>
        <fieldset>
            <div class="container">
                <div class="row vertical-spacer">
                    
                    <div class="col-sm-9 infobox-container">
                        
                        <div class="infobox infobox-pink" ng-repeat="user in usersAssignedTo">
                            <div class="infobox-icon">
                                <img class="pull-left" alt="Alex Doe's avatar" ng-src="data:image/JPEG;base64,{{user.Picture}}" style="height: 80%; width: 80%;">
                            </div>
                            <div class="infobox-data">
                                <a class="user" style="cursor: pointer" data-toggle="modal" data-target="{{user.ModalClassTarget}}"> {{user.FirstName}} {{user.LastName}}</a>
                            </div>
                            

                            <div ng-class="[user.ModalClass]" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header" style="background-color:steelblue; color:white">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title" id="mySmallModalLabel">User Info</h4>
                                        </div>
                                        <div class="modal-body">
                                            <!--body starts-->
                                            <<div class="row">
                                                <div class="col-xs-12 col-sm-2 center">
                                                    <span class="profile-picture">
                                                        <img class="editable img-responsive" alt="" id="avatar2" ng-src="data:image/JPEG;base64,{{user.Picture}}">
                                                    </span>
                                                 </div><!-- /span -->

                                                <div class="col-xs-12 col-sm-10">
                                                    <h4 class="blue">
                                                        <span class="align-middle" style="text-align: center">{{user.FirstName}} {{user.LastName}}</span>
                                                    </h4>
                                            
                                                    <div class="profile-user-info">
                                                        <div class="profile-user-info profile-user-info-striped">
                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name" style=" font-size: 11px;"> Username </div>

                                                                <div class="profile-info-value " style=" font-size: 11px;">
                                                                    <span class="editable editable-click">{{user.IdMembership.Email}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name" style=" font-size: 11px;"> Flex Time </div>

                                                                <div class="profile-info-value" style=" font-size: 11px;">
                                                                    <span class="editable editable-click">{{user.FlexTimeR}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name" style=" font-size: 11px;"> Position </div>

                                                                <div class="profile-info-value" style=" font-size: 11px;">
                                                                    <span class="editable editable-click"> {{user.Position}}</span>
                                                                </div>
                                                            </div>

                                                            <div class="profile-info-row">
                                                                <div class="profile-info-name" style=" font-size: 11px;"> Remote Work </div>

                                                                <div class="profile-info-value" style=" font-size: 11px;">
                                                                    <span class="editable editable-click" id="signup">{{user.RemoteDays}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div><!-- /span -->
                                             </div>
                                            <!-- body ends-->
                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>

                        </div>

                        <div class="space-6"></div>
                            
                        
                    </div>
                </div>
                <div class="row">
                    <br /><br />

                </div>
            </div>

        </fieldset>
    </div>
</div>
