/packages
/RemoteWorkManagement/bin
/RemoteWorkManagement/obj
/Scio.RemoteManagementModels/bin
/Scio.RemoteManagementModels/obj
/ScioRemoteManagement/bin
/ScioRemoteManagement/obj
/ScioRemoteManagement/Scio.RemoteManagementDB.dbmdl
/RemoteWorkManagement.v12.suo
