<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <connectionStrings>
    <add name="NhConnecString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=RemoteManagement;Integrated Security=SSPI;" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpPort" value="587"></add>

  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" />
    </authentication>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <machineKey validationKey="EEE5FAE5DC55DF46B4FA86A06D9B630C8FB55A50C233FEB145863EC623BC8672E3D491340E62C8DA7F9DEAA026B6244FEC834969550B223DCF8E58DB68873BA5" decryptionKey="273732215497F63BE2239E6FA8867BE8E63B9B8EEB5BE8358B3C80BBD5B1AC86" validation="SHA1" decryption="AES" />
    <membership defaultProvider="NHMembershipProvider" userIsOnlineTimeWindow="15">
      <providers>
        <add name="NHMembershipProvider" type="Scio.RemoteManagementModels.Membership.NHMembershipProvider" connectionStringName="NhConnecString" enablePasswordRetrievale="false" enablePasswordReset="True" requiresQuestionAndAnswer="false" PasswordFormat="Clear" applicationName="RemoteWorkManagement" writeExceptionsToEventLog="false" />
      </providers>
    </membership>
    <roleManager defaultProvider="NHMembershipProvider" enabled="true" cacheRolesInCookie="true" cookieName=".asproles" cookieTimeout="30" cookiePath="/" cookieSlidingExpiration="true" cookieProtection="All">
      <providers>
        <add name="NHMembershipProvider" type="Scio.RemoteManagementModels.Role.NHRoleProvider" connectionStringName="NhConnecString" applicationName="RemoteWorkManagement" writeExceptionsToEventLog="false" />
      </providers>
    </roleManager>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>