.vertical-spacer {
    margin-top: 90px;
}

.optionButtonAlign {
    margin-left: 175px;
}

.chosen-container {
    width: 270px !important;
}

.im-centered {
     margin: auto; max-width: 300px;
}

#email-dialog .add-button-top {
    margin-top: -28px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}