@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div>
    <div ng-controller="TeamMemberCtrl" ng-cloak>
        <div class="page-header">
        </div>
        <div class="page-content">
            <div notifications="top right"></div>
            <div class="container">
                @Html.Partial("_CheckInOutPartial")
                @if (User.IsInRole("Admin"))
                {
                    @Html.Partial("_MyStats")
                }
            </div>
        </div>
    </div>
    @Html.Partial("_ChangePasswordWizard")
</div>
