@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div>
    <div ng-controller="TeamMemberCtrl" ng-cloak>
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try { ace.settings.check('breadcrumbs', 'fixed'); } catch (e) { }
            </script>
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="/Admin/">Home</a>
                </li>
                <li class="active">Dashboard</li>
            </ul>
        </div>
        <div class="page-content">
            <div notifications="top right"></div>
            <div class="page-header">
                <h1>
                    <a class="user tip" data-toggle="tooltip" data-placement="right" href="#"
                       title="este es tun topsd">Dashboard</a>
                    Dashboard
                </h1>
            </div>
            <fieldset>
                <div class="container">
                    <div class="row ">
                        <div class="col-xs-9">

                            <div class="col-xs-4 center">
                                <p>
                                    <div class="widget-header widget-header-small">
                                        <h4 class="blue smaller">
                                            <i class="icon-rss orange"></i>
                                            Users not logged
                                        </h4>
                                    </div>
                                </p>
                                <p>
                                    <div ang:round:progress data-round-progress-model="roundProgressData"
                                         data-round-progress-width="100"
                                         data-round-progress-height="100"
                                         data-round-progress-outer-circle-width="10"
                                         data-round-progress-inner-circle-width="4"
                                         data-round-progress-outer-circle-radius="40"
                                         data-round-progress-inner-circle-radius="30"
                                         data-round-progress-label-font="12pt Arial"
                                         data-round-progress-outer-circle-background-color="#D8D8D8"
                                         data-round-progress-outer-circle-foreground-color="#FFBF00"
                                         data-round-progress-inner-circle-color="#D8D8D8"
                                         data-round-progress-label-color="#070719"></div>
                                </p>
                                <p>
                                    <div class="widget-box transparent">

                                        <div class="widget-body  ">
                                            <div class="widget-main padding-8">
                                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 350px;">
                                                    <div id="profile-feed-1" class="profile-feed" style="overflow: hidden; width: auto; height: 350px;">


                                                        <div class="profile-activity clearfix" ng-repeat="remainingUser in remainingUsers">
                                                            <div>
                                                                <img class="pull-left" alt="" ng-src="data:image/JPEG;base64,{{remainingUser.Picture}}" style="width: 34px; height: 34px">
                                                                <a class="user" href="#"> {{remainingUser.FirstName}} {{remainingUser.LastName}}</a>
                                                            </div>
                                                            <div ng-class="[remainingUser.FlexTime.Color]">
                                                                <i class="icon-time bigger-110"></i>
                                                                {{remainingUser.FlexTime.Time}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>

                            <div class="col-xs-4 center">
                                <p>
                                    <div class="widget-header widget-header-small">
                                        <h4 class="blue smaller">
                                            <i class="icon-rss orange"></i>
                                            Users logged in
                                        </h4>
                                    </div>
                                </p>
                                <p>
                                    <div ang:round:progress data-round-progress-model="roundProgressData2"
                                         data-round-progress-width="100"
                                         data-round-progress-height="100"
                                         data-round-progress-outer-circle-width="10"
                                         data-round-progress-inner-circle-width="4"
                                         data-round-progress-outer-circle-radius="40"
                                         data-round-progress-inner-circle-radius="30"
                                         data-round-progress-label-font="12pt Arial"
                                         data-round-progress-outer-circle-background-color="#D8D8D8"
                                         data-round-progress-outer-circle-foreground-color="#01DF01"
                                         data-round-progress-inner-circle-color="#D8D8D8"
                                         data-round-progress-label-color="#070719"></div>
                                </p>
                                <p>
                                    <div class="widget-box transparent">

                                        <div class="widget-body  ">
                                            <div class="widget-main padding-8">
                                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                                    <div id="profile-feed-2" class="profile-feed" style="overflow: hidden; width: auto; height: 250px;">


                                                        <div class="profile-activity clearfix" ng-repeat="readyUser in readyUsers">
                                                            <div>
                                                                <img class="pull-left" alt="Alex Doe's avatar" ng-src="data:image/JPEG;base64,{{readyUser.Picture}}" style="width: 34px; height: 34px">
                                                                <i class="blue icon-exclamation-sign" ng-show="{{readyUser.IsManualCheckIn}}"></i>
                                                                <a class="user" href="#"> {{readyUser.FirstName}} {{readyUser.LastName}} </a>
                                                            </div>
                                                            <div class="time" style=" color:green">
                                                                <i class="icon-time bigger-110"></i>
                                                                {{readyUser.FlexTime}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>


                            <div class="col-xs-4 center">
                                <p>
                                    <div class="widget-header widget-header-small">
                                        <h4 class="blue smaller">
                                            <i class="icon-rss orange"></i>
                                            Unauthorized users
                                        </h4>
                                    </div>
                                </p>
                                <p>
                                    <div ang:round:progress data-round-progress-model="roundProgressUnauthorizedUser"
                                         data-round-progress-width="100"
                                         data-round-progress-height="100"
                                         data-round-progress-outer-circle-width="10"
                                         data-round-progress-inner-circle-width="4"
                                         data-round-progress-outer-circle-radius="40"
                                         data-round-progress-inner-circle-radius="30"
                                         data-round-progress-label-font="12pt Arial"
                                         data-round-progress-outer-circle-background-color="#0080FF"
                                         data-round-progress-outer-circle-foreground-color="#0080FF"
                                         data-round-progress-inner-circle-color="#D8D8D8"
                                         data-round-progress-label-color="#070719"></div>
                                </p>
                                <p>
                                    <div class="widget-box transparent">
                                        <div class="widget-body  ">
                                            <div class="widget-main padding-8">
                                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                                    <div id="profile-feed-3" class="profile-feed" style="overflow: hidden; width: auto; height: 250px;">


                                                        <div class="profile-activity clearfix" ng-repeat="user in unAuthorizedUsersCheckedIn">
                                                            <div>
                                                                <img class="pull-left" alt="Alex Doe's avatar" ng-src="data:image/JPEG;base64,{{user.Picture}}" style="width: 34px; height: 34px">
                                                                <a class="user tip" data-toggle="tooltip" data-placement="bottom" href="#"
                                                                   title="{{user.CommentsCheckIn}}">{{user.FirstName}} {{user.LastName}}</a>
                                                            </div>
                                                            <div class="time" style=" color:green">
                                                                <i class="icon-time bigger-110"></i>
                                                                {{user.FlexTime}}
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>


                        </div>

                    </div>
                    <div class="row">
                        <br /><br />
                        <div style="text-align: center"></div>

                    </div>

                    <div class="row">
                        <br />

                    </div>
                </div>

            </fieldset>
        </div>
    </div>
    <div ng-controller="AccountCtrl" ng-cloak>
        <div id="modal-wizard" class="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" data-target="#modal-step-contents">
                        <ul class="wizard-steps">
                            <li data-target="#modal-step1" class="active">
                                <span class="step">1</span>
                                <span class="title">Type Old Password</span>
                            </li>

                            <li data-target="#modal-step2">
                                <span class="step">2</span>
                                <span class="title">Type New Password</span>
                            </li>

                            <li data-target="#modal-step3">
                                <span class="step">3</span>
                                <span class="title">Repeat Password</span>
                            </li>

                            <li data-target="#modal-step4">
                                <span class="step">4</span>
                                <span class="title">Ready!</span>
                            </li>
                        </ul>
                    </div>

                    <div class="modal-body step-content" id="modal-step-contents">
                        <div class="step-pane active" id="modal-step1">
                            <div class="center">
                                <h4 class="blue">Step 1: Type Old Password</h4>
                                <div class="row">
                                    <input type="password" placeholder="Old Password" ng-model="oldPassword" ng-change="validateOldPwd()" />
                                </div>
                                <div style="color:{{ mycolor }}">
                                    {{ validOldPwd }}
                                </div>
                            </div>
                        </div>


                        <div class="step-pane" id="modal-step2">
                            <div class="center">
                                <h4 class="blue">Step 2: Type New Password</h4>
                                <div class="row">
                                    <input type="password" placeholder="New Password" id="newPassword" name="newPassword" ng-model="newPassword" ng-change="validateNewPwd()" />
                                </div>
                                <div class="alert-error">
                                    <span style="color:{{ mycolor }}"> {{ msgValidNewPwd }}</span>
                                </div>
                            </div>
                        </div>

                        <div class="step-pane" id="modal-step3">
                            <div class="center">
                                <h4 class="blue">Step 3: Repeat Password</h4>
                                <div class="row">
                                    <input type="password" placeholder="Repeat Password" ng-model="repeatPassword" id="repeatPassword" ng-change="validateMatchPwd()" ng-required="" />
                                </div>
                                <div class="alert-error">
                                    <span style="color:{{ mycolor }}"> {{ passMatchMsg }}</span>
                                </div>
                            </div>
                        </div>


                        <div class="step-pane" id="modal-step4">
                            <div class="center">
                                <h4 class="blue">Step 4: Everything Set :)</h4>
                                <h2>{{msgUpdatePass}}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer" id="fakeButtons">
                        <button id="fakePrevButton" class="btn btn-sm" ng-click="prevStep()">
                            <i class="icon-arrow-left"></i>
                            Prev
                        </button>

                        <button id="fakeNextButton" class="btn btn-success btn-sm" ng-click="nextStep()">
                            Next
                            <i class="icon-arrow-right icon-on-right"></i>
                        </button>

                        <button id="fakeCancelButton" class="btn btn-danger btn-sm pull-left" ng-click="cancelStep()">
                            <i class="icon-remove"></i>
                            Cancel
                        </button>
                    </div>

                    <div class="modal-footer wizard-actions" ng-hide="true">
                        <button id="prevButton" class="btn btn-sm btn-prev">
                            <i class="icon-arrow-left"></i>
                            Prev
                        </button>

                        <button id="nextButton" class="btn btn-success btn-sm btn-next" data-last="Finish">
                            Next
                            <i class="icon-arrow-right icon-on-right"></i>
                        </button>

                        <button id="cancelButton" class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                            <i class="icon-remove"></i>
                            Cancel
                        </button>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <!-- ./wizard change password-->
</div>
