@{
    ViewBag.Title = "Notifications";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}
<div ng-controller="NotificationsCtrl" ng-cloak ng-init="activeMenu()">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try { ace.settings.check('breadcrumbs', 'fixed'); } catch (e) { }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
                <a href="/Admin/">Home</a>
            </li>
            <li class="active">Notifications</li>
        </ul>
    </div>
    <div class="page-content">
        <div notifications="top right"></div>
        <div class="page-header">
            <h1>
                Notifications
                <small>
                    <i class="icon-double-angle-right"></i>
                    User Notifications
                </small>
            </h1>
        </div>
        <form ng-submit="insertNotification()" name="insertNotifForm">
            <fieldset>
                <div class="container">
                    <label>
                        <span>
                            <select chosen ng-model="selectedUser" class="form-control input-xlarge" id="user-select"
                                    data-placeholder="Choose a Colaborator..."
                                    ng-options="user.id as user.name for user in users"
                                    ng-change="getUser()">
                                <option></option>
                            </select>
                        </span>
                    </label>
                    <div ng-show="showInfo">
                        <div class="row">
                            <div class="col-md-4 pull-right">
                                <label>
                                    <input name="sendNotifications" class="ace ace-switch ace-switch-3" type="checkbox" ng-model="emailNotifications" />
                                    <span class="lbl">Send Email Notifications</span>
                                </label>
                            </div>
                        </div>
                        <div class="row vertical-spacer">
                            <div class="col-xs-8">
                                <div id="userProfile" class="user-profile">
                                    <div class="col-xs-12 col-sm-3 center">
                                        <span class="profile-picture">
                                            <img ng-src="data:image/JPEG;base64,{{picture}}" style="width:100%; height:100%;">
                                        </span>

                                        <div class="space space-4"></div>
                                        <a href="#" class="btn btn-sm btn-block btn-primary">
                                            <i class="icon-envelope-alt bigger-110"></i>
                                            <span class="bigger-110">Send a message</span>
                                        </a>
                                    </div>
                                    <div class="col-xs-2 col-sm-9">
                                        <h4 class="blue">
                                            <span class="middle">{{fullName}}</span>
                                            @*Needs to be change dynamic according the selected user status*@
                                            <span class="label label-purple arrowed-in-right">
                                                <i class="icon-circle smaller-80 align-middle"></i>
                                                online
                                            </span>
                                        </h4>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Email</div>
                                            <div class="profile-info-value">
                                                <span>{{email}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Position</div>
                                            <div class="profile-info-value">
                                                <span>{{position}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Flextime</div>
                                            <div class="profile-info-value">
                                                <span>{{flexTime}}</span>
                                            </div>
                                        </div>
                                        <div class="profile-info-row">
                                            <div class="profile-info-name">Remote Work</div>
                                            <div class="profile-info-value">
                                                <span ng-repeat="day in remoteDaysArray">
                                                    {{day}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class=" control-group ">
                                    <label class=" control-label bolder blue">
                                        Notify to
                                    </label>
                                    <div class="checkbox">
                                        <label>
                                            <input name="cbProjectLeader" type="checkbox" class="ace" ng-model="selectedValue" ng-change="getProjectLeaderMail()" />
                                            <span class="lbl">Project Leader</span>
                                        </label>
                                        <label ng-show="selectedValue" class="clearfix">
                                            <span class="input-icon input-icon-right input-large">
                                                <input type="email" class="form-control input-large" placeholder="Email"
                                                       ng-model="projectLeaderEmail"
                                                       name="plEmail"
                                                       ng-disabled="true" />
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="cbTeam" type="checkbox" class="ace" ng-model="senseiCheck" ng-change="getSenseiMail()" />
                                            <span class="lbl">Sensei</span>
                                        </label>
                                        <label ng-show="senseiCheck" class="clearfix">
                                            <span class="input-icon input-icon-right input-large">
                                                <input type="email" class="form-control input-large" placeholder="Email"
                                                       name="tEmail"
                                                       ng-model="senseiEmail"
                                                       ng-disabled="true" />
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </label>
                                    </div>
                                </div>
                                <div class="optionButtonAlign">
                                    <button class="btn btn-minier btn-purple" id="addEmailButton">Options</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div>
                                    <button type="submit" class="btn btn-primary btn-block progress-button">
                                        <span class="content">Save Changes</span>
                                        <span class="progress"></span>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </div>
                <div id="email-dialog" class="hide">
                    <p>
                        Type aditional email address separate by comma
                    </p>
                    <div class="hr hr-12 hr-double"></div>
                    <p>
                        Email address:
                    </p>
                    <div>
                        <textarea cols="25" rows="10" ng-model="otherEmails"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
