
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
}

<div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
        try { ace.settings.check('breadcrumbs', 'fixed'); } catch (e) { }
    </script>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home home-icon"></i>
            <a href="/Admin/">Home</a>
        </li>
        <li class="active">Users</li>
    </ul>
</div>
<div class="page-content">
    <div class="page-header">
        <h1>
            Users
            <small>
                <i class="icon-double-angle-right"></i>
                User options
            </small>
        </h1>
        <div class="row">
            <div class="col-xs-12">
                <div id="tabs">
                    <ul>
                        <li>
                            <a href="#createUser">
                                Create new user
                            </a>
                        </li>
                        <li>
                            <a href="#editUser">
                                Edit user
                            </a>
                        </li>
                        <li>
                            <a href="#reports">
                                Reports
                            </a>
                        </li>
                    </ul>
                    <div id="createUser">
                        @Html.Partial("UserPartials/_CreateUser")
                    </div>
                    <div id="editUser">
                        @Html.Partial("UserPartials/_EditUser")
                    </div>
                    <div id="reports">
                        @Html.Partial("UserPartials/_UserReports")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

