<div ng-controller="AccountCtrl" ng-cloak>
    <div id="modal-wizard" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" data-target="#modal-step-contents">
                    <ul class="wizard-steps">
                        <li data-target="#modal-step1" class="active">
                            <span class="step">1</span>
                            <span class="title">Type Old Password</span>
                        </li>

                        <li data-target="#modal-step2">
                            <span class="step">2</span>
                            <span class="title">Type New Password</span>
                        </li>

                        <li data-target="#modal-step3">
                            <span class="step">3</span>
                            <span class="title">Repeat Password</span>
                        </li>

                        <li data-target="#modal-step4">
                            <span class="step">4</span>
                            <span class="title">Ready!</span>
                        </li>
                    </ul>
                </div>

                <div class="modal-body step-content" id="modal-step-contents">
                    <div class="step-pane active" id="modal-step1">
                        <div class="center">
                            <h4 class="blue">Step 1: Type Old Password</h4>
                            <div class="row">
                                <input type="password" placeholder="Old Password" ng-model="oldPassword" ng-change="validateOldPwd()" />
                            </div>
                            <div style="color:{{ mycolor }}">
                                {{ validOldPwd }}
                            </div>
                        </div>
                    </div>


                    <div class="step-pane" id="modal-step2">
                        <div class="center">
                            <h4 class="blue">Step 2: Type New Password</h4>
                            <div class="row">
                                <input type="password" placeholder="New Password" id="newPassword" name="newPassword" ng-model="newPassword" ng-change="validateNewPwd()" />
                            </div>
                            <div class="alert-error">
                                <span style="color:{{" ' mycolor }}"> {{ msgValidNewPwd }}</span>
                            </div>
                        </div>
                    </div>

                    <div class="step-pane" id="modal-step3">
                        <div class="center">
                            <h4 class="blue">Step 3: Repeat Password</h4>
                            <div class="row">
                                <input type="password" placeholder="Repeat Password" ng-model="repeatPassword" id="repeatPassword" ng-change="validateMatchPwd()" ng-required="" />
                            </div>
                            <div class="alert-error">
                                <span style="color:{{ mycolor }}"> {{ passMatchMsg }}</span>
                            </div>
                        </div>
                    </div>


                    <div class="step-pane" id="modal-step4">
                        <div class="center">
                            <h4 class="blue">Step 4: Everything Set :)</h4>
                            <h2>{{msgUpdatePass}}</h2>
                        </div>
                    </div>
                </div>

                <div class="modal-footer" id="fakeButtons">
                    <button id="fakePrevButton" class="btn btn-sm" ng-click="prevStep()">
                        <i class="icon-arrow-left"></i>
                        Prev
                    </button>

                    <button id="fakeNextButton" class="btn btn-success btn-sm" ng-click="nextStep()">
                        Next
                        <i class="icon-arrow-right icon-on-right"></i>
                    </button>

                    <button id="fakeCancelButton" class="btn btn-danger btn-sm pull-left" ng-click="cancelStep()">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                </div>

                <div class="modal-footer wizard-actions" ng-hide="true">
                    <button id="prevButton" class="btn btn-sm btn-prev">
                        <i class="icon-arrow-left"></i>
                        Prev
                    </button>

                    <button id="nextButton" class="btn btn-success btn-sm btn-next" data-last="Finish">
                        Next
                        <i class="icon-arrow-right icon-on-right"></i>
                    </button>

                    <button id="cancelButton" class="btn btn-danger btn-sm pull-left" data-dismiss="modal">
                        <i class="icon-remove"></i>
                        Cancel
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>