<div class="row">
    <h3 class="header smaller lighter blue">
        My Stats
    </h3>
    <div class="col-sm-offset-2">
        <div class="col-xs-9">
            <div class="col-xs-4">
                <div>
                    <h4 class="blue smaller">
                        <i class="icon-group grey"></i>
                        Offline Users
                    </h4>
                </div>
                <div ang:round:progress data-round-progress-model="roundProgressData"
                     data-round-progress-width="100"
                     data-round-progress-height="100"
                     data-round-progress-outer-circle-width="10"
                     data-round-progress-inner-circle-width="4"
                     data-round-progress-outer-circle-radius="40"
                     data-round-progress-inner-circle-radius="30"
                     data-round-progress-label-font="12pt Arial"
                     data-round-progress-outer-circle-background-color="#D8D8D8"
                     data-round-progress-outer-circle-foreground-color="#FFBF00"
                     data-round-progress-inner-circle-color="#FFFFFF"
                     data-round-progress-label-color="#070719">
                </div>
                <div class="widget-box transparent">
                    <div class="widget-body  ">
                        <div class="widget-main padding-8">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 350px;">
                                <div id="profile-feed-1" class="profile-feed" style="overflow: hidden; width: auto; height: 350px;">
                                    <div class="profile-activity clearfix" ng-repeat="remainingUser in remainingUsers">
                                        <div>
                                            <img class="pull-left" alt="" ng-src="data:image/JPEG;base64,{{remainingUser.Picture}}" style="width: 34px; height: 34px">
                                            <a class="user" href="#"> {{remainingUser.FirstName}} {{remainingUser.LastName}}</a>
                                        </div>
                                        <div ng-class="[remainingUser.FlexTime.Color]">
                                            <i class="icon-time bigger-110"></i>
                                            {{remainingUser.FlexTime.Time}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xs-4">
                <p>
                    <div>
                        <h4 class="blue smaller">
                            <i class="icon-group green"></i>
                            Online Users
                        </h4>
                    </div>
                </p>
                <p>
                    <div ang:round:progress data-round-progress-model="roundProgressData2"
                         data-round-progress-width="100"
                         data-round-progress-height="100"
                         data-round-progress-outer-circle-width="10"
                         data-round-progress-inner-circle-width="4"
                         data-round-progress-outer-circle-radius="40"
                         data-round-progress-inner-circle-radius="30"
                         data-round-progress-label-font="12pt Arial"
                         data-round-progress-outer-circle-background-color="#D8D8D8"
                         data-round-progress-outer-circle-foreground-color="#01DF01"
                         data-round-progress-inner-circle-color="#FFFFFF"
                         data-round-progress-label-color="#070719"></div>
                </p>
                <p>
                    <div class="widget-box transparent">

                        <div class="widget-body  ">
                            <div class="widget-main padding-8">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                    <div id="profile-feed-2" class="profile-feed" style="overflow: hidden; width: auto; height: 250px;">


                                        <div class="profile-activity clearfix" ng-repeat="readyUser in readyUsers">
                                            <div>
                                                <img class="pull-left" alt="Alex Doe's avatar" ng-src="data:image/JPEG;base64,{{readyUser.Picture}}" style="width: 34px; height: 34px">
                                                <i class="blue icon-exclamation-sign" ng-show="{{readyUser.IsManualCheckIn}}"></i>
                                                <a class="user" href="#"> {{readyUser.FirstName}} {{readyUser.LastName}} </a>
                                            </div>
                                            <div class="time" style=" color:green">
                                                <i class="icon-time bigger-110"></i>
                                                {{readyUser.FlexTime}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>

            <div class="col-xs-4">
                <p>
                    <div>
                        <h4 class="blue smaller">
                            <i class="icon-group orange"></i>
                            Guest Users
                        </h4>
                    </div>
                </p>
                <p>
                    <div ang:round:progress data-round-progress-model="roundProgressUnauthorizedUser"
                         data-round-progress-width="100"
                         data-round-progress-height="100"
                         data-round-progress-outer-circle-width="10"
                         data-round-progress-inner-circle-width="4"
                         data-round-progress-outer-circle-radius="40"
                         data-round-progress-inner-circle-radius="30"
                         data-round-progress-label-font="12pt Arial"
                         data-round-progress-outer-circle-background-color="#D8D8D8"
                         data-round-progress-outer-circle-foreground-color="#0080FF"
                         data-round-progress-inner-circle-color="#FFFFFF"
                         data-round-progress-label-color="#070719"></div>
                </p>
                <p>
                    <div class="widget-box transparent">
                        <div class="widget-body  ">
                            <div class="widget-main padding-8">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;">
                                    <div id="profile-feed-3" class="profile-feed" style="overflow: hidden; width: auto; height: 250px;">


                                        <div class="profile-activity clearfix" ng-repeat="user in unAuthorizedUsersCheckedIn">
                                            <div>
                                                <img class="pull-left" alt="Alex Doe's avatar" ng-src="data:image/JPEG;base64,{{user.Picture}}" style="width: 34px; height: 34px">
                                                <a class="user tip" data-toggle="tooltip" data-placement="bottom" href="#"
                                                   title="{{user.CommentsCheckIn}}">{{user.FirstName}} {{user.LastName}}</a>
                                            </div>
                                            <div class="time" style=" color:green">
                                                <i class="icon-time bigger-110"></i>
                                                {{user.FlexTime}}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
</div>
