<div ng-controller="UsersCtrl" ng-cloak>
    <form ng-submit="registerUser()">
        <fieldset>
            <div class="col-md-4">
                <label class="control-label bolder blue">
                    General Information
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="First Name"
                               ng-model="firstName"
                               name="firstname"
                               required
                               data-bv-notempty-message="First name required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Last Name"
                               ng-model="lastName"
                               name="lastname"
                               required
                               data-bv-notempty-message="Last name required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="email" class="form-control input-xlarge" placeholder="Email"
                               ng-model="email"
                               name="username"
                               data-bv-live="enabled"
                               data-bv-trigger="focus blur"
                               required
                               data-bv-emailaddress-message="Invalid email address" />
                        <i class="icon-envelope"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Position"
                               ng-model="position"
                               name="position" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="control-label bolder blue">
                    Project Leader
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Project Leader Name"
                               ng-model="projectLeader"
                               name="plName"
                               required
                               data-bv-notempty-message="Project Leader required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="pull-left">
                        <div class=" control-group ">
                            <label class=" control-label bolder blue">
                                Days to work in remote
                            </label>
                            <div class="checkbox" ng-repeat="day in daysOfTheWeek">
                                <label>
                                    <input ng-model="selectedDay" name="cbMonday" type="checkbox" class="ace" ng-change="addDay(selectedDay,$index)" />
                                    <span class="lbl">{{day}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offset2">
                        <div class="control-group">
                            <label class="control-label bolder blue">Flextime Schedule</label>
                            <div class="radio" ng-repeat="flexTime in flexTimeSchedule">
                                <label>
                                    <input name="flexTimeOptions" type="radio" class="ace" ng-model="$parent.selectedFlex" value="{{flexTime}}"/>
                                    <span class="lbl">{{flexTime}}</span>
                                </label>
                            </div>
                            <div id="otherInputText" ng-show="selectedFlex == 'Other'">
                                <span class="input-icon input-icon-right input-xlarge">
                                    <input type="text" class="form-control input-xlarge" placeholder="Please specify"
                                           name="otherTime" />
                                    <i class="icon-edit"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label bolder blue">
                    Upload Picture
                </label>
                <input type="file" id="uploadImageButton" ng-file-select="onFileSelect($files)" />
                <input type="file" id="uploadImageArea" ng-file-select="onFileSelect($files)" />
            </div>
        </fieldset>
    </form>
</div>

