<div>
    <form ng-submit="updateUser()" name="editUserForm">
        <fieldset>
            <div class="im-centered">
                <div class="row">
                    <label class="block clearfix">
                        <span>
                            <select chosen ng-model="selectedUser" class="form-control input-xlarge" id="user-select"
                                    data-placeholder="Choose a Colaborator..."
                                    ng-options="user.id as user.name for user in users"
                                    ng-change="getUser()">
                                <option></option>
                            </select>
                        </span>
                    </label>
                </div>
            </div>
            <hr />
            <div class="col-md-4">
                <label class="control-label bolder blue">
                    General Information
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="First Name"
                               name="firstname"
                               ng-model="editFirstName"
                               required
                               data-bv-notempty-message="First name required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Last Name"
                               name="lastname"
                               ng-model="editLastName"
                               required
                               data-bv-notempty-message="Last name required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="email" class="form-control input-xlarge" placeholder="Email"
                               name="username"
                               ng-model="editEmail"
                               ng-disabled="true"
                               required
                               data-bv-emailaddress-message="Invalid email address" />
                        <i class="icon-envelope"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Position"
                               name="position"
                               ng-model="editPosition" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span>
                        <select chosen ng-model="editRol" class="form-control input-xlarge"
                                id="editrole-select"
                                data-placeholder="Choose a role"
                                ng-options="rol.value as rol.name for rol in roles"
                                multiple
                                disable-search="true">
                            <option></option>
                        </select>
                    </span>
                </label>
                <label class="control-label bolder blue">
                    Project Leader
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <select chosen ng-model="editProjectLeader" class="form-control input-xlarge" id="plEditSelect" data-placeholder="Choose a project leader" ng-options="leader.id as leader.name for leader in projectLeaders">
                            <option></option>
                        </select>
                    </span>
                </label>
            </div>
            <div class="col-md-4">
                <label class="control-label bolder blue">
                    Sensei
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <select chosen ng-model="editSensei" class="form-control input-xlarge" id="senseiEditSelect" data-placeholder="Choose a sensei" ng-options="sensei.id as sensei.name for sensei in senseis">
                            <option></option>
                        </select>
                    </span>
                </label>
                <div class="row">
                    <div class="pull-left">
                        <div class=" control-group ">
                            <label class=" control-label bolder blue">
                                Days to work in remote
                            </label>
                            <div class="checkbox" ng-repeat="day in daysOfTheWeek">
                                <label>
                                    <input checklist-model="editSelections.days" name="cbOptions" type="checkbox" class="ace" checklist-value="day" />
                                    <span class="lbl">{{day}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offset2">
                        <div class="control-group">
                            <label class="control-label bolder blue">Flextime Schedule</label>
                            <div class="radio" ng-repeat="flexTime in flexTimeSchedule">
                                <label>
                                    <input name="flexTimeOptions" type="radio" class="ace" ng-model="$parent.selectedEditFlex" value="{{flexTime}}" />
                                    <span class="lbl">{{flexTime}}</span>
                                </label>
                            </div>
                            <div id="otherInputText" ng-show="selectedEditFlex == 'Other'">
                                <span class="input-icon input-icon-right input-xlarge">
                                    <input type="text" class="form-control input-xlarge" placeholder="Please specify"
                                           ng-model="edithOtherFlexTime"
                                           name="otherTime" />
                                    <i class="icon-edit"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px">
                        <button class="btn btn-primary btn-block progress-button">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <label class="control-label bolder blue">Is active</label>
                    <label>
                        <input class="ace ace-switch ace-switch-2" type="checkbox" ng-model="isActive">
                        <span class="lbl"></span>
                    </label>
                </div>
            </div>
        </fieldset>
    </form>
</div>