<div>
    <form ng-submit="updateUser()">
        <fieldset>
            <div class="im-centered">
                <div class="row">
                    <label class="block clearfix">
                        <span>
                            <select chosen ng-model="selectedUser" class="form-control input-xlarge" id="user-select" 
                                    data-placeholder="Choose a Colaborator..." 
                                    ng-options="user.id as user.name for user in users"
                                    ng-change="getUser()">
                                <option></option>
                            </select>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label bolder blue">
                    General Information
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="First Name"
                               name="firstname"
                               ng-model="editFirstName"
                               required
                               data-bv-notempty-message="First name required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Last Name"
                               name="lastname"
                               ng-model="editLastName"
                               required
                               data-bv-notempty-message="Last name required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="email" class="form-control input-xlarge" placeholder="Email"
                               name="username"
                               ng-model="editEmail"
                               ng-disabled="true"
                               required
                               data-bv-emailaddress-message="Invalid email address" />
                        <i class="icon-envelope"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Position"
                               name="position" 
                               ng-model="editPosition"/>
                        <i class="icon-edit"></i>
                    </span>
                </label>
                <label class="block clearfix">
                    <span>
                        <select chosen ng-model="selectedRol" class="form-control input-xlarge" id="editrole-select" data-placeholder="Choose a role" ng-options="rol.value for rol in roles" disable-search="true">
                            <option></option>
                        </select>
                    </span>
                </label>
                <label class="control-label bolder blue">
                    Project Leader
                </label>
                <label class="block clearfix">
                    <span class="input-icon input-icon-right input-xlarge">
                        <input type="text" class="form-control input-xlarge" placeholder="Project Leader Name"
                               name="plName"
                               ng-model="editProjectLeader"
                               required
                               data-bv-notempty-message="Project Leader required" />
                        <i class="icon-edit"></i>
                    </span>
                </label>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="pull-left">
                        <div class=" control-group ">
                            <label class=" control-label bolder blue">
                                Days to work in remote
                            </label>
                            <div class="checkbox" ng-repeat="day in daysOfTheWeek">
                                <label>
                                    <input checklist-model="editSelections.days" name="cbOptions" type="checkbox" class="ace" checklist-value="day" />
                                    <span class="lbl">{{day}}</span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="offset2">
                        <div class="control-group">
                            <label class="control-label bolder blue">Flextime Schedule</label>
                            <div class="radio" ng-repeat="flexTime in flexTimeSchedule">
                                <label>
                                    <input name="flexTimeOptions" type="radio" class="ace" ng-model="$parent.selectedFlex" value="{{flexTime}}" />
                                    <span class="lbl">{{flexTime}}</span>
                                </label>
                            </div>
                            <div id="otherInputText" ng-show="selectedFlex == 'Other'">
                                <span class="input-icon input-icon-right input-xlarge">
                                    <input type="text" class="form-control input-xlarge" placeholder="Please specify"
                                           ng-model="edithOtherFlexTime"
                                           name="otherTime" />
                                    <i class="icon-edit"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="margin-top: 20px">
                        <button type="submit" class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </fieldset>
    </form>
</div>