<div>
    <div id="userList" class="tab-pane">
        <div class="profile-users clearfix">
            <div ng-repeat="user in usersFullList">
                <div class="itemdiv memberdiv" popup>
                    <div class="inline position-relative">
                        <div class="user">
                            <a href="#">
                                <img ng-src="data:image/JPEG;base64,{{user.Picture}}" alt="Test Image" />
                            </a>
                        </div>

                        <div class="body">
                            <div class="name">
                                <a href="#">
                                    <span class="user-status status-online"></span>
                                    {{user.FirstName}} {{user.LastName}}
                                </a>
                            </div>
                        </div>

                        <div class="popover">
                            <div class="arrow"></div>
                            <div class="popover-content">
                                <div class="bolder">
                                    {{user.Position}}
                                </div>
                                <div class="time">
                                    <i class="icon-time middle bigger-120 orange"></i>
                                    <span class="green">8:30 - 17:00</span>
                                </div>
                                <div class="hr dotted hr-8"></div>
                                <div class="tools action-buttons">
                                    <a href="#">
                                        <i class="icon-envelope blue bigger-150"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
